.footer {
  background-color:#20232B;
  color: white;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
  width: 1220px;
  margin-top: -75px;
  padding-top: 80px;
  
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: #8E8E8E;

}

.footer-left ul {
  list-style: none;
  padding: 0;
}

.footer-left ul li {
  display: inline;
  margin-right: 15px;
}

.footer-left ul li a {
  color: white;
  text-decoration: none;
  word-spacing: 5px; /* Adjust as needed */
  letter-spacing: 1px; /* Adjust as needed */
  padding-right: 15px;
}

.footer-left ul li a:hover {
  text-decoration: underline;
}

.logo {
  height: 50px;
}

.footer-bottom {
  border-top: 1px solid gray;
  padding-top: 10px;
}

.footer-left p {
  margin: 0;
  word-spacing: 2px; /* Increases spacing between words */
  letter-spacing: 1px;
}

.footer-left p a {
  color:#8E8E8E;
  text-decoration: none;
}

.footer-left p a:hover {
  text-decoration: underline;
  color:lightblue;
}

.social-icon {
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  opacity: 0.8;
}
